
.loaded-intro .video-intro-out {
  animation: video-out 0.5s ease-in-out forwards;
}



/* .loaded-intro .video-intro {
  animation: video-intro-out 1s ease-in-out forwards;

} */

@keyframes video-out {
  0% {
    opacity: 1;
    filter: blur(0px) brightness(2);
  }
  100% {
    opacity: 0;
    filter: blur(10px), brightness(0.5);
  }
}

.nav-glass-container {
  background: linear-gradient(
    86deg,
    rgba(255, 255, 255, 0.2) 11.14%,
    rgba(255, 255, 255, 0.05) 113.29%
  );
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  filter: brightness(0.65);
  background-blend-mode: overlay;
  box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.15),
    10px 10px 20px 0px rgba(255, 255, 255, 0.45) inset;
  backdrop-filter: blur(10px);
}

/* 
@keyframes page-section-in {
  from {

    pointer-events: none;
    opacity: 0;
  }
  to {
    pointer-events: auto;
    opacity: 1;
    filter: blur(0px) brightness(1);
  }
} */
