.video-intro-container {
  width: 100%;

  height: 100%;
}

.video-intro {

  z-index: 2;


}
.loaded-intro .video-intro {
  animation: video-out 0.5s ease-in-out forwards;
}

.page-section {
}

/* .loaded-intro .video-intro {
  animation: video-intro-out 1s ease-in-out forwards;

} */

@keyframes video-out {
  0% {
    opacity: 1;
    filter: blur(0px) brightness(2);
  }
  100% {
    opacity: 0;
    filter: blur(10px), brightness(0.5);
  }
}


/* 
@keyframes page-section-in {
  from {

    pointer-events: none;
    opacity: 0;
  }
  to {
    pointer-events: auto;
    opacity: 1;
    filter: blur(0px) brightness(1);
  }
} */
