@import "tailwindcss";

.skill-glass-container {
  @apply max-sm:hidden;
  @apply mr-[20px] ;
  .skill {
    transform: translateX(100dvw);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 15px 30px;
    width: fit-content;
    filter: brightness(0.65);

    /* text style  */

    text-align: center;
    font-family: Figtree;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 100% */

    &.skill-1 {
      filter: brightness(0.9);
      @apply sm:w-[130px] bg-white/60 text-black;

    }
    &.skill-2 {
      @apply -mt-[10px] -ml-[120px];
    }
    &.skill-3 {
      @apply -mt-[30px] ml-[45%];
      border-radius: 50px;
      border: 1px solid rgba(255, 255, 255, 0.8);
    }
    &.skill-4 {
      @apply -mt-[30px] -ml-[120px];
      border-radius: 50px;
      border: 1px solid rgba(255, 255, 255, 0.5);
    }
    &.skill-5 {
      @apply -mt-[10px] -ml-[20%];
    }
    &.skill-transparent {
      border-radius: 50px;
      border: 2px solid rgba(255, 255, 255, 0.5);
    }
    &.skill-blur {
      background: linear-gradient(
        86deg,
        rgba(255, 255, 255, 0.2) 11.14%,
        rgba(255, 255, 255, 0.05) 113.29%
      );
      border-radius: 50px;
      border: 2px solid rgba(255, 255, 255, 0.1);
      filter: brightness(0.65);
      background-blend-mode: overlay;
      box-shadow: 0px -2px 20px 0px rgba(0, 0, 0, 0.15),
        10px 10px 20px 0px rgba(255, 255, 255, 0.45) inset;
      backdrop-filter: blur(10px);
    }
  }
}

@keyframes skill-entrance {
  0% {
    transform: translateX(100dvw);
  }
  100% {
    transform: translateX(0);
  }
}
.loaded-intro .skill-glass-container .skill {
  animation-name: skill-entrance;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
