@import "tailwindcss";
.embla {
    @apply w-full ;
    margin: auto;
  
    --slide-spacing:max(3dvw, 50px);
    
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 auto;
    
    
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
